@import "./tokens.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: var(--bg-0);
  color: var(--fg-0);
  font-family: var(--mono), sans-serif;
}

body {
  min-height: 100vh;
  background: var(--bg-0);
  color: var(--fg-0);
}

* {
  box-sizing: border-box;
}
